html {
    font-size: 62.5% !important;    /* 取默认字体的百分比 */
}
@media (min-width: 992px){
    html {
        font-size: 62.5%;
    }
}
@media (min-width: 768px){
    html {
        font-size: 59%;
    }
}
@media (min-width: 576px){
    html {
        font-size: 56%
    }
}
body{
    overflow-x: hidden;
}
a:hover{
    text-decoration: none;
}

/* left */
.leftCon{
    left: 0;
}
.leftCon header{
    height: 80px;
}
.leftCon header .icon-menu{
    font-size: 3rem;
    color: #858585;
    cursor: pointer;
}
.leftCon header .nav{
    opacity: 1;
    transition:all .25s cubic-bezier(0.4, 0, 1, 1);
}
.leftCon header .nav li a{
    font-size: 1.6rem;
}
.leftCon .menuWrap{
    height: calc(100vh - 80px);
}
@media (max-width: 991.8px){
    .leftCon{
        position: relative!important;
    }
    .leftCon .menuWrap{
        height: auto;
    }
}
.leftCon .menuWrap .menuCon span{
    font-size: 1.6rem;
}
.leftCon .menuWrap .menuCon .zhuce{
    border: 1px solid#28a745;
    border-radius: 14px; 
}
.icon-kafei{
    font-size: 3rem!important;
}
@media (max-width: 575.8px){
    .leftCon .menuWrap{
        height: 80px;
    }
    .leftCon .menuWrap h1{
        height: 100%;
        line-height: 80px;
    }
}

/* menu list */

.menulist{
    top: 80px;
    left: 0;
    width: calc(100% + 1px);
    height: calc(100vh - 80px);
    padding-left: 70px;
    z-index: -1;
    opacity: 0;
    transform: scale(2);
    transition: all .25s cubic-bezier(0.4, 0, 1, 1);
}
.menulistTop{
    flex:1 1 auto;
}
.menulist .menulistTop ul li a{
    font-size: 1.7rem;
}
@media (max-width: 575.8px){   
    .menulist{
        padding-left: 20px;
    }
}
@media (max-width: 991.8px){
    .menulist{
        position: fixed!important;
        width: 100vw;
    }
}
.menulist .menulistTop span{
    font-size: 1.6rem;
}
.menulist .menulistTop .zhuce{
    border: 1px solid#28a745;
    border-radius: 14px; 
}
.menulist footer{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.38);
}
.menulist footer a{
    color: rgba(0, 0, 0, 0.38);
}

.leftCon header .nav.navActive{
    transform: scale(0.8);
    opacity: 0;
}
.menulist.menulistActive{
    opacity: 1;
    transform: scale(1);
    z-index: 1000;
}

/* right content */
.icon-left,.icon-right{
    font-size: 5rem!important;
}
.mid-img div{
    transition: transform 0.2s linear;
}

.mid-img div:hover{
    transform: translateY(-5px);
}

.mid-logo div h3{
    font-size: 2rem;
}
.mid-logo div p{
    font-size: 1.6rem;
    line-height: 2em;
}
.mid-logo div p a{
    color: #C2A661;
}
.mid-logo div p a span{
    color: #C2A661;
    font-size: 1.6rem!important;
}
.mid-logo div button{
    border-radius: 15px;
}
.title{
    margin-bottom: 50px;
}
.title h4{
    font-size: 2.2rem;
}
.title p{
    font-size: 1.5rem;
}

.jingxua  div a img{
    width: 30%;
    margin-top: -10%;
}
.jingxua  div a h3{
    font-size: 1.6rem;
}
.jingxua  div a p{
    font-size: 1.5rem;
}
.jingxua  div a{
    color: #C2A661!important;
    box-shadow: 0px 1px 2px 1px #b9b9b9;
    transition: all .2s linear;
}
.jingxua  div a:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 2px 1px #8d8d8d;
}
.carousel-self{
    width: 2464px;
    position: absolute;
    left: 0;
}
.carousel-self::after{
    content: "";
    display: block;
    clear: both;
}
.carousel-self li.card a{
    display: block;
    box-shadow: 0 1px 2px 1px#a5a5a5;
    transition: transform .2s linear;
}
.carousel-self li.card{
    width: 288px;
    border:none;
    float: left;
    padding-right:10px;
}
.carousel-self li.card a:hover{
    box-shadow: 0 0px 1px 2px#a5a5a5;
    transform: translateY(-5px);
}
.carousel-wrap{
    height: 250px;
    /* overflow: hidden; */
    position: relative;
}
.footer{
    box-shadow: 0 -1px 5px 0 #b4b4b4;
}
.footer ul li .iconfont{
    font-size: 2.5rem;
}
.footer ul li{
    margin: 0 20px;
    padding-top: 5px;
}
.mdMenuPositive{
    position: fixed!important;
}